/*for header and footer*/
body{
    margin: 0%;
}
.container{
    background-color: rgb(207, 190, 190);
    opacity: 0.5;
    width: 100%;
    padding: 15px;
}
.navbar{
    display: inline-block;
}

.navname a{
    text-decoration: none;   
    font-family: Comic Sans Ms;
    font-size: 25px;
    font-weight: bold;
    padding-left: 200px;
    padding-right: 1150px;
}
nav li{
    display: inline-block;
}
i{
    padding-left: 20px;
    font-size: 20px;  
}
footer{
    background-color: rgb(207, 190, 190);
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.foot{
    text-align: center;
    padding: 5px;
    
}
.foot.info{
    display: inline-block;
}
.foot.info h3{
    font-family: Comic Sans Ms;
    font-size: 15px;
}
.foot.info i{
    font-size: 13px;
}
.foot.info a{
    color: black;
    text-decoration: none;
}
.foot.copy{
    font-weight: bold;
}
hr{
    color: whitesmoke;
}