/*for header and footer*/
body{
    margin: 0%;
    overflow-x: hidden;
}
.container{
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.navbar{
    display: inline-block;
}
.navname a{
    text-decoration: none;   
    color:azure;
    font-family: Copperplate, Papyrus,Trebuchet MS;
    font-size: 25px;
    font-weight: bold;
    
}

nav li{
    display: inline-block;
}
nav i{
    padding: 10px 10px;
    font-size: 20px;
    color: azure;  
}
footer{
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    color: azure;
}
.foot{
    text-align: center;
    padding: 10px;
    
}
.foot.info{
    display: inline-block;
}
.foot.info h3{
    font-size: 15px;
}
.foot.info i{
    font-size: 13px;
    color: azure;
}
.foot.info a{
    color: azure;
    text-decoration: none;
}
.foot.copy p{
    font-weight: bold;
    color: azure;
}
hr{
    color: whitesmoke;
}
/*main*/
#home{
    background-image: url("/images/bg1.jpg");
    background-repeat: no-repeat;
    width:100%;
    height:90vh;
    background-size:100% 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.container-main{
    padding: 12%;
    text-align: center;
}
.container-main h1{
    font-size: 40px;
    font-family: Copperplate, Papyrus,Trebuchet MS;
}
.container-main p{
    font-size: 20px;
}
.desc{
   padding: 50px 500px;
   text-align: center;
   text-transform: none;
   text-decoration: solid;
} 
.desc h3{
    font-family: Copperplate, Papyrus,Trebuchet MS;
    font-size: 25px;
    padding-top: 30px;
}
.shop-btn{
    font-size:0.8rem;
    font-weight:700;
    outline:none;
    border:none;
    background-color:black;
    color:aliceblue;
    padding:12px 30px;
    cursor:pointer;
    transition:0.4s ease;
}
.shop-btn:hover{
    color: black;
    background-color:#ddd;
    opacity: 0.5;
}
p{
    color:rgb(62, 62, 65);
}
.row{
    text-align: center;
}
.product{
    display: inline-block;
    cursor:pointer;
    padding: 30px;
    text-align: center;
}
.product img{
    transition: 0.4s all;
}
.img-fluid{
    width: 280px;
    height: 300px;
}
.product:hover img{
    opacity:0.8;
}
.buy-btn{
    font-size:0.8rem;
    font-weight:700;
    outline:none;
    border:none;
    background-color:black;
    color:aliceblue;
    padding:12px 30px;
    cursor:pointer;
    transition:0.4s ease;
}
.buy-btn a{
    text-decoration: none;
    color: white;
}
.buy-btn:hover{
    background-color: rgba(170, 166, 166, 0.801);
    opacity: 0.8;
}

.product .buy-btn{
    background:rgb(62, 62, 65);
    opacity: 0;
    transition:0.3s all;
}
.product:hover .buy-btn{
    transform: translateY(0);
    opacity: 1;
}
.product-name{
    font-size: 20px;
    font-weight: lighter;
    font-family: Georgia, serif;
}
.product-price{
    font-family: Georgia, serif;
}
/*product details*/
.productinfo{
    text-align: center;
}
.row-container{
    display: inline-block;
    margin: 3rem;
}
.row-container.details{
    text-align: left;
}
.product-desc{
    background-color: whitesmoke;
    padding: 5px;
    width:500px;
    text-align: justify;
}
.img-left{
    width: 380px;
    height: 390px;
}
.options{
    text-align: center;
}
.buyoption{
    display:inline-flex;
    justify-content: center;
}
.youmaylike{
    margin: 5rem;
    text-align: center;
}
.extra{
    font-size: 20px;
    font-family: Copperplate, Papyrus,Trebuchet MS;
}
/*for checkout*/
  * {
    box-sizing: border-box;
  }
  .check{
     margin: 30px;
  }
  .row1{
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 3px 16px;
  }
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  .container1 {
    background-color: white;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  label {
    margin-bottom: 10px;
    display: block;
  }
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  .btn {
    background-color: rgb(12, 11, 11);
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  .btn:hover {
    background-color: #3c3d3c;
  }
  a {
    color: #117586;
  }
  
  hr {
    border: 1px solid rgb(240, 240, 240);
  }

  span.price {
    float: right;
    color: rgb(14, 13, 13);
  }
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row1 {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
